<?php
/**
 * Sales transaction history template
 */
?>
<?php if ($this->getCollection()->getSize()): ?>
	<?php echo $this->getPagerHtml() ?>
	<?php echo $this->getGridHtml() ?>
	<?php echo $this->getPagerHtml() ?>
<?php else: ?>
<div>
	<p class="note-msg">
		<?php echo $this->__('There are no commission matching this selection.') ?>
	</p>
</div>
<?php endif ?>