<?php
/**
 * Statistic template
 */
?>
<script type="text/javascript">
//<![CDATA[
function changeDiagramsPeriod(periodObj) {
	periodParam = periodObj.value ? 'period/' + periodObj.value + '/' : '';
<?php foreach ($this->getChild('diagrams')->getTabsIds() as $tabId): ?>
	ajaxBlockParam = 'block/diagrams_<?php echo $tabId ?>/';
	ajaxBlockUrl = '<?php echo $this->getUrl('*/*/ajaxBlock', array('_current' => true, 'block' => '', 'period' => '')) ?>' + ajaxBlockParam + periodParam;
	new Ajax.Request(ajaxBlockUrl, {
		parameters: {isAjax: 'true', form_key: FORM_KEY},
		onSuccess: function(transport) {
			tabContentElementId = '<?php echo $this->getChild('diagrams')->getId() ?>_<?php echo $tabId ?>_content';
			try {
				if (transport.responseText.isJSON()) {
					var response = transport.responseText.evalJSON()
					if (response.error) {
						alert(response.message);
					}
					if(response.ajaxExpired && response.ajaxRedirect) {
						setLocation(response.ajaxRedirect);
					}
				} else {
					$(tabContentElementId).update(transport.responseText);
				}
			}
			catch (e) {
				$(tabContentElementId).update(transport.responseText);
			}
		}
	});
<?php endforeach; ?>
	ajaxBlockUrl = '<?php echo $this->getUrl('*/*/ajaxBlock', array('_current' => true, 'block' => 'diagrams_totals', 'period' => '')) ?>' + periodParam;
	new Ajax.Request(ajaxBlockUrl, {
		parameters: {isAjax: 'true', form_key: FORM_KEY},
		onSuccess: function(transport) {
			tabContentElementId = 'dashboard_diagram_totals';
			try {
				if (transport.responseText.isJSON()) {
					var response = transport.responseText.evalJSON()
					if (response.error) {
						alert(response.message);
					}
					if(response.ajaxExpired && response.ajaxRedirect) {
						setLocation(response.ajaxRedirect);
					}
				} else {
					$(tabContentElementId).replace(transport.responseText);
				}
			}
			catch (e) {
				$(tabContentElementId).replace(transport.responseText);
			}
		}
	});
}
//]]>
</script>

<div class="content-header">
    <table cellspacing="0">
        <tr>
            <td><h3 class="head-dashboard affiliateplus-statistic-head"><?php echo $this->__('Affiliate Plus Statistic') ?></h3></td>
        </tr>
    </table>
</div>

<div class="dashboard-container affiliateplus-statistic-container">
    <?php echo $this->getChildHtml('store_switcher') ?>
    <table cellspacing="25" width="100%">
        <tr>
            <td>
            	<?php echo $this->getChildHtml('sales') ?>
            	<div class="entry-edit" class="a-center bold">
            		<div class="entry-edit-head"><h4><?php echo $this->__('Traffic Activity') ?></h4></div>
            		<fieldset id="traffics_diagram_content" class="np">
            			<?php echo $this->getChildHtml('left_traffics') ?>
            		</fieldset>
            	</div>
            	<div class="entry-edit" class="a-center bold">
            		<div class="entry-edit-head"><h4><?php echo $this->__('Transaction Activity') ?></h4></div>
            		<fieldset id="commissions_diagram_content" class="np">
            			<?php echo $this->getChildHtml('left_commissions') ?>
            		</fieldset>
            	</div>
            </td>
            <td>
                <div class="entry-edit" style="border:1px solid #ccc;">
                    <?php echo $this->getChildHtml('diagrams') ?>
                    <?php if (is_array($this->getChild('diagrams')->getTabsIds())) : ?>
                        <div id="diagram_tab_content"></div>
                    <?php endif; ?>
                    <div style="margin:20px;">
                        <?php echo $this->getChildHtml('totals') ?>
                    </div>
                    <div style="margin:20px;">
                        <?php echo $this->getChildHtml('grids') ?>
                        <div id="grid_tab_content"></div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>