<?php
/**
 * Grid template
 */
?>
<?php $collection = $this->getCollection() ?>
<?php $columns = $this->getColumns() ?>
<?php if ($collection->getSize()): ?>
<table class="data-table" id="<?php echo $this->getNameInLayout() ?>">
	<colgroup>
	<?php foreach ($columns as $id => $column): ?>
		<col class="<?php echo $id ?>" style="<?php if ($column['align']): ?>align:<?php echo $column['align'] ?>;<?php endif ?><?php if ($column['width']): ?>width:<?php echo $column['width'] ?><?php endif ?>" />
	<?php endforeach ?>
	</colgroup>
	<thead>
		<tr>
		<?php foreach ($columns as $id => $column): ?>
			<th><?php echo $column['header'] ?></th>
		<?php endforeach ?>
		</tr>
	</thead>
	<tbody>
	<?php foreach ($collection as $row): ?>
		<?php if ($row->getIsContinueNextRow()) continue; ?>
		<tr>
		<?php foreach ($columns as $id => $column): ?>
			<td>
			<?php if (isset($column['render']) && $column['render']): ?>
				<?php echo $this->fetchRender($column['render'],$row) ?>
			<?php else: ?>
				<?php $type = isset($column['type']) ? $column['type'] : '' ?>
				<?php switch ($type): case 'action': ?>
					<?php $action = $column['action'] ?>
					<a href="<?php echo $this->getUrl($action['url'],array( $action['name'] => $row->getData($action['field']) )) ?>" title="<?php echo $action['label'] ?>"><?php echo $action['label'] ?></a>
				<?php break; case 'options': ?>
					<?php echo $column['options'][$row->getData($column['index'])] ?>
				<?php break; case 'date': ?>
					<?php echo $this->formatDate($row->getData($column['index']), $column['format'], false) ?>
				<?php break; case 'datetime': ?>
					<?php echo $this->formatDate($row->getData($column['index']), $column['format'], true) ?>
				<?php break; case 'price': ?>
					<?php echo Mage::app()->getStore()->formatPrice($row->getData($column['index'])) ?>
				<?php break; case 'baseprice': ?>
					<?php echo Mage::helper('core')->currency($row->getData($column['index']))//Mage::app()->getStore()->getBaseCurrency()->format($row->getData($column['index'])) ?>
				<?php break; default: ?>
					<?php echo $row->getData($column['index']) ?>
				<?php endswitch ?>
			<?php endif ?>
			</td>
		<?php endforeach ?>
		</tr>
	<?php endforeach ?>
	</tbody>
</table>
<?php else: ?>
<div>
	<p class="note-msg">
		<?php echo $this->__('There are no items matching this selection.') ?>
	</p>
</div>
<?php endif ?>