<!--@subject {{var store.getFrontendName()}}: New request payment #{{var payment.getId()}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"htmlescape var=$payment.getReferralName()":"Referral Name",
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/\"":"Customer Account Url"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
            </tr>
        </table>
        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top">
                    <p>
                        <strong>Hello {{htmlescape var=$payment.getSalesName()}}</strong>,<br/>
						There is an account sending payment request to our affiliate system.  
                        Please login to admin page at <a href="{{store url="adminhtml/index/"}}" style="color:#1E7EC8;">logging into admin page</a> to recheck and proceed this payment request.
                    </p>

                    <p>Account confirmation is below.</p>

                    <h3 style="border-bottom:2px solid #eee; font-size:1.05em; padding-bottom:1px; ">Payment request  <small>(on {{var payment.getRequestDateFormated()}})</small></h3>
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        <thead>
	                        <tr>
	                            <th align="left" width="13%" bgcolor="#d9e5ee" style="font-size:12px;padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Account Email</th>
								<th align="left" width="1.5%"></th>
								<th align="left" width="13%" bgcolor="#d9e5ee" style="font-size:12px;padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Balance</th>
								<th align="left" width="1.5%"></th>
								<th align="left" width="13%" bgcolor="#d9e5ee" style="font-size:12px;padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Request Amount</th>
							</tr>
                        </thead>
                        <tbody>
	                        <tr>
	                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
	                                {{var payment.getAccountEmail()}}
	                            </td>		
								<td>&nbsp;</td>
	                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
	                                {{var payment.getBalanceFormated()}}
	                            </td>	
								<td>&nbsp;</td>
	                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
	                                {{var payment.getRequestPayment()}}
	                            </td>		
							</tr>
                        </tbody>
                    </table>
                    <br/>
                    
                    <strong>{{var store.getFrontendName()}}</strong></p>
                </td>
            </tr>
        </table>
    </td>
</tr>
</table>
</div>