<?php
/**
 * View Program form
 */
?>
<?php $listPrograms = $this->getListProgram() ?>
<?php if (count($listPrograms)): ?>
<br/><br/>
<table class="data-table" id="list-program-table">
	<col width="1"/>
	<col width="1"/>
	<thead>
		<tr>
			<th colspan="4" height="40">
			<?php if (count($listPrograms) == 1): ?>
				<?php echo $this->__('OUR PROGRAM') ?>
			<?php else: ?>
				<?php echo $this->__('OUR PROGRAMS') ?>
			<?php endif ?>
			</th>
		</tr>
	</thead>
	<tbody>
		<?php $i=0 ?>
		<?php foreach($listPrograms as $program): ?>
		<?php if($i>0): ?>
			<tr><td colspan="4" height="5">&nbsp;</td></tr>
		<?php endif; ?>
		<?php if ($program->getCode() == 'payperlead'): ?>
		<tr>
			<td><strong><?php echo $program->getName() ?></strong></td>
			<td><strong><?php echo $this->__('Commission Type') ?></strong></td>
			<td colspan="2">
				<?php echo $program->getCommissionText() ?>
			</td>
		</tr>
		<?php continue ?>
		<?php endif ?>
		<tr>
			<?php $rowspan = 3 ?>
			<?php if ($program->getLevelCount()) $rowspan += $program->getLevelCount()+1;?>
			<?php if ($program->getValidFrom()) $rowspan++; ?>
			<?php if ($program->getValidTo()) $rowspan++; ?>
			<td rowspan="<?php echo $rowspan ?>" width="25%"><strong><?php echo $program->getName(); ?></strong></td>
			<td width="25%">
				<?php $commission = $program->getCommission() ? $program->getCommission() : 0 ?>
				<strong><?php echo $this->__('Commission Type') ?></strong>
			</td>
			<td width="50%" colspan="2">
				<?php if($program->getCommissionType() == 'fixed'): ?>
					<?php $commissionText = Mage::helper('core')->currency($commission) ?>
				<?php else: ?>
					<?php $commissionText = rtrim(rtrim(sprintf("%.2f",$commission),'0'),'.').'%' ?>
				<?php endif ?>
				<?php echo $this->__('Pay-Per-Sale %s for each sale you deliver.',$commissionText) ?>
			</td>
		</tr>
	<?php if ($program->getLevelCount()): ?>
		<tr>
			<td rowspan="<?php echo $program->getLevelCount()+1 ?>">
				<strong><?php echo $this->__('Tier Commission') ?></strong>
			</td>
			<td>
				<strong><?php echo $this->__('Level %d',1) ?></strong>
			</td>
			<td>
				<?php if($program->getCommissionType() == 'fixed'): ?>
					<?php echo $this->__('%s per sale',$commissionText) ?>
				<?php else: ?>
					<?php echo $this->__('%s of sales amount',$commissionText) ?>
				<?php endif ?>
			</td>
		</tr>
		<?php foreach($program->getTierCommission() as $tierCommission): ?>
		<tr>
			<td>
				<strong><?php echo $tierCommission['level'] ?></strong>
			</td>
			<td><?php echo $tierCommission['commission'] ?></td>
		</tr>
		<?php endforeach ?>
	<?php endif ?>
		<tr>
			<td>	
				<strong><?php echo $this->__('Payout Requirements') ?></strong>
			</td>
			<td colspan="2">
				<?php echo $this->__('%s - Minimum balance required for payout.',Mage::helper('core')->currency($this->getMinPaymentRelease())) ?>
			</td>
		</tr>		 
		<tr>
			<td>	
				<strong><?php echo $this->__('Discount policy') ?></strong>
			</td>
			<td colspan="2">
				<?php $discount = $program->getDiscount() ? $program->getDiscount() : 0 ?>
				<?php if($program->getDiscountType() == 'fixed'): ?>
					<?php $discountText = Mage::helper('core')->currency($discount) ?>
				<?php else: ?>
					<?php $discountText = rtrim(rtrim(sprintf("%.2f",$discount),'0'),'.').'%' ?>
				<?php endif	?>
				<?php echo $this->__('Discount %s for each purchased item.',$discountText) ?>
			</td>
		</tr>
		<?php if ($program->getValidFrom()): ?>
		<tr>
			<td>
				<strong><?php echo $this->__('From Date') ?></strong>
			</td>
			<td colspan="2">
				<?php echo $this->formatDate($program->getValidFrom(),'medium',false) ?>
			</td>
		</tr>
		<?php endif ?>
		<?php if ($program->getValidTo()): ?>
		<tr>
			<td>
				<strong><?php echo $this->__('To Date') ?></strong>
			</td>
			<td colspan="2">
				<?php echo $this->formatDate($program->getValidTo(),'medium',false) ?>
			</td>
		</tr>
		<?php endif ?>
		<?php $i++ ?>
	<?php endforeach ?>
	</tbody>
</table>
<div class="clear">&nbsp;</div>
<?php endif ?>